body{
  margin: 0;
  padding: 0;
}

.container{
  width: 1150px;
  margin: auto;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar h1{
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 40px;
  text-align: center;
}

.navbar ul{
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar ul p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #AC1313;
  cursor: pointer;
}

.navbar ul li{
  list-style: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #6C6C6C;
  cursor: pointer;
}

.navbar ul span{
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  cursor: pointer;
}





/* Header */






.pompeo{
  padding-top: 126px;
  padding-bottom: 136px;
  background: url('../image/image\ \(23\).png') center / cover;
  width: 100%;
  height: 50vh;
}

.banner{
  display: flex;
}

.banner_suptitle{
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #D77474;
  margin-bottom: 12px;
}

.banner_title{
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 14px;
}

.banner_desc{
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #6C6C6C;
  margin-bottom: 51px;
}

.banner button{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #AC1313;
  border-radius: 0px;
  padding: 10px 30px;
  border: 0;
  cursor: pointer;
}

.banner_img img{
  width: 100%;
}



/* Pompeo */






.categories{
  margin-top: 120px;
}

.categories_suptitle{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #D77474;
  margin-bottom: 40px;
}

.categories_title{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: #000000;
  margin-bottom: 63px;
}

.categories_imgs{
  display: flex;
  justify-content: space-around;
  margin-bottom: 80px;
}

.categories_title img{
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 68px;
  line-height: 68px;
  text-align: center;
  color: #AC1313;
}

.categories_content{
  display: flex;
  justify-content: space-between;
}

.categories_block{
  width: 40%;
}

.categories_block_title{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 36px;
  color: #000000;
}

.categories_block_desc{
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #6C6C6C;
}






/* Categories */





.details{
  margin-top: 228px;
}

.details_suptitle{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.details_block{
  width: 40%;
}

.details_title{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  color: #000000;
}

.details_p{
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #6C6C6C;
}

.details_h4{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.details_subtitle{
  display: flex;
  align-items: center;
  justify-content: space-around;
}




/* Details */